<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Account</title>
    <link rel="stylesheet" href="../styles/account.css">
</head>
<body>
    <nav class="navbar">
        <a href="login.html" class="link">Login</a>
        <a href="account.html" class="link">Account</a>
        <a href="#" class="link" id="logout">Logout</a>
    </nav>
    <main class="main">
        <h1>My Account</h1>
        <img src="../img/user.png" alt="User avatar" class="avatar">
        <div>
            <h3>Personal data: </h3>
            <p id="first_name">First Name: </p>
            <p id="last_name">Last Name: </p>
            <p id="username">Username: </p>
            <p id="email">Email: </p>
            <p id="role">Role: </p>
            <a href="edit-account.html" class="link">Want to edit account?</a>
        </div>
    </main>

    <script src="../scripts/account.js"></script>
</body>
</html>