<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Account</title>
    <link rel="stylesheet" href="../styles/account.css">
</head>
<body>
    <nav class="navbar">
        <a href="login.html" class="link">Login</a>
        <a href="account.html" class="link">Account</a>
        <a href="#" class="link">Logout</a>
    </nav>
    <main class="main">
        <h1>My Account</h1>
        <img src="../img/user.png" alt="User avatar" class="avatar">
        <div>
            <h3>Personal data: </h3>
            <p>First Name: Bohdan</p>
            <p>Last Name: Salabay</p>
            <p>Username: salabay777</p>
            <p>Email: salabay2003@gmail.com</p>
            <a href="edit-account.html" class="link">Want to edit account?</a>
        </div>
    </main>
</body>
</html>