<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Account</title>
    <link rel="stylesheet" href="../styles/register.css">
</head>
<body>
    <nav class="navbar">
        <a href="login.html" class="link">Login</a>
        <a href="account.html" class="link">Account</a>
        <a href="#" class="link">Logout</a>
    </nav>
    <main class="main">
        <h1>Edit Account</h1>
        <form class="form">
            <div>
                <input type="text" placeholder="First Name" class="input" value="Bohdan">
            </div>
            <div>
                <input type="text" placeholder="Last Name" class="input" value="Salabay">
            </div>
            <div>
                <input type="text" placeholder="Username" class="input" value="salabay777">
            </div>
            <div>
                <input type="email" placeholder="Email" class="input" value="salabay2003@gmail.com">
            </div>
            <div>
                <input type="password" placeholder="Password" class="input" value="123456">
            </div>
            <div>
                <input type="password" placeholder="Confirm Password" class="input" value="123456">
            </div>
            <div>
                <button type="submit" class="edit-button">Edit</button>
                <button type="submit" class="delete-button">Delete</button>
            </div>
        </form>
    </main>
</body>
</html>