<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration</title>
    <link rel="stylesheet" href="../styles/register.css">
</head>
<body>
    <nav class="navbar">
        <a href="login.html" class="link">Login</a>
        <a href="account.html" class="link">Account</a>
        <a href="#" class="link">Logout</a>
    </nav>
    <main class="main">
        <h1>Sign up</h1>
        <form class="form">
            <div>
                <input type="text" placeholder="First Name" class="input">
            </div>
            <div>
                <input type="text" placeholder="Last Name" class="input">
            </div>
            <div>
                <input type="text" placeholder="Username" class="input">
            </div>
            <div>
                <input type="email" placeholder="Email" class="input">
            </div>
            <div>
                <input type="password" placeholder="Password" class="input">
            </div>
            <div>
                <input type="password" placeholder="Confirm Password" class="input">
            </div>
            <button type="submit" class="submit-button">Sign up</button>
        </form>
        <p><a href="login.html" class="link">Already have an account? - Sign in</a></p>
    </main>
</body>
</html>