$borderRadiusInput: .25rem;
$borderRadiusButton: .5rem;
$primaryColor: #302f2a;
$secondaryColor: #fff;
$aquaColor: #00fff2;
$redColor: #ff0000;
$navColor: #6e6d68;
$gapInput: .5rem;
$fontSize: 1.2rem;
$padding: .5rem;
$paddingNav: 1.5rem;
